<nav class="navigation-menu">
  <ul>
    <li><a href="/dashboard">ダッシュボード</a></li>
    <li><a href="/books">書籍一覧</a></li>
    <li><a href="/users">利用者一覧</a></li>
    <li><a href="/lending/start">貸出ページ</a></li>
    <li><a href="/reservation/start">予約ページ</a></li>
    <li><a href="/return/start">返却ページ</a></li>
  </ul>
</nav>
